.hero-section{
    position: relative;
    .hero-heading{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
        height:40vh;
        h1{
            color: #fff;
            text-transform: uppercase;}
            
    }
}
.about-image{
    //margin-top: 16vh;
    height: 40vh;
    //background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%),url(../img/bg/aboutus-40.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.3)),url(../img/bg/aboutus-40.jpg);
    background-size: cover;
    //opacity: 0.9;
    background-size: cover;
    @media only screen and (max-width: 768px) {margin-top: 10vh;}
}