@font-face {
    font-family: 'rene100';
    src: url('../../font/rene100.otf') format('truetype');
}
@font-face {
    font-family: 'rene400';
    src: url('../../font/rene400.otf') format('truetype');
}
@font-face {
    font-family: 'rene500';
    src: url('../../font/rene500.otf') format('truetype');
}
@font-face {
    font-family: 'rene700';
    src: url('../../font/rene700.otf') format('truetype');
}
@font-face {
    font-family: 'rene900';
    src: url('../../font/rene900.otf') format('truetype');
}