.p-10{padding-top: 10vh}
.p-20{padding-top: 20vh}
.p-30{padding-top: 30vh}
.p-40{padding-top: 40vh}

.row-error{
   margin-right: 0!important;
}

.hero-section{
    height:100vh;
    //background:  linear-gradient(180deg, rgba(0,0,0,0.1516981792717087) 0%, rgba(0,0,0,0.14889705882352944) 65%, rgba(0,0,0,0.7343312324929971) 85%, rgba(0,0,0,1) 100%);   
    overflow: hidden;
}
.hero-header{
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
   font-size: 56px;
   line-height: 66px;
    text-align: center;
    color: #616161;
    
    //transform: translate(0%, -50%);
    //color: $fen-green;
    //color: #5da943;
}
.about-para{
    font-family: ITCAvantGarde;
    font-weight: 100;
    font-size: 15.5px;
}
.my-container{
    position: relative;
    padding-top: 5rem;
}
.overflow-bg{
    position: absolute;
    width: 102vw;
    top:-10vh;
    left:-10vw;
    height: 120vh;
    background-image: linear-gradient(315deg, #f9f9f9 0%, #02a388 74%);
    border-radius: 0 100px 100px 0;
    z-index: -2;
}
.solar-roof{
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.152) 0%, rgba(255, 255, 255, 0.149) 65%, rgba(255, 255, 255, 0.734) 85%, rgb(255, 255, 255) 100%) , url(../img/bg/Solutions.jpg), rgba(255, 255, 255, 0.5) ;
    background-size: cover;
}
.solar-project{
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.152) 0%, rgba(255, 255, 255, 0.149) 65%, rgba(255, 255, 255, 0.734) 85%, rgb(255, 255, 255) 100%) , url(../img/bg/solar-projects.jpg),rgba(255, 255, 255, 0.5) ;
    background-size: cover;
}
.main-header{
    text-align:left;
    margin: 0 0 20px 0; 
    width:20%;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.display-4 ,.display-5{
    color: $fen-yellow ;
}
.text-black{color: #000}
.fen-yellow{color: $fen-yellow}
.fen-green{color: $fen-green }

.width-9{
    width: calc(100% / 9);
}

.product-items-center{
    display: flex;flex-direction: column;justify-content: center;

    p{
        font-family: ITCAvantGarde;
        font-size: 20px;
    }
    
}
.i-left{
   @media only screen and (min-width: 768px){
   i{
      margin-left: -32px;
   }}
}
.item-center{
    text-align: center;
}
.shadow-d{
    box-shadow: 6px 6px 5px 1px rgba(0,0,0,0.21);
}


/* **************************** contact ****************************  */
.right_conatct_social_icon{
    background: linear-gradient(to top right, #FFC712 -5%, #02610A 100%);
}
.contact_us{
    background:linear-gradient(rgba(255, 255, 255, 0.8)), url(../img/carousel/s1.webp) ;
    background-size: cover;
  // background-color: #f1f1f1;
   padding: 120px 0px;
}

.contact_inner{
   background-color:rgba(255, 255, 255, 0.5);
   position: relative;
   box-shadow: 20px 22px 44px #cccc;
   border-radius: 25px;
}
.contact_field{
   padding: 60px 340px 90px 100px;
}
.right_conatct_social_icon{
   height: 100%;
}

.contact_field h3{
  color: #000;
   font-size: 40px;
   letter-spacing: 1px;
   font-weight: 600;
   margin-bottom: 10px
}
.contact_field p{
   color: #000;
   font-size: 13px;
   font-weight: 400;
   letter-spacing: 1px;
   margin-bottom: 35px;
}
.contact_field .form-control{
   border-radius: 0px;
   border: none;
   border-bottom: 1px solid #ccc;
}
.contact_field .form-control:focus{
   box-shadow: none;
   outline: none;
   border-bottom: 2px solid #02610A;
}
.contact_field .form-control::placeholder{
   font-size: 13px;
   letter-spacing: 1px;
}

.contact_info_sec {
   position: absolute;
   background-color: #2d2d2d;
   right: 1px;
   top: 18%;
   height: 340px;
   width: 340px;
   padding: 40px;
   border-radius: 25px 0 0 25px;
   color:#fff;
}
.contact_info_sec h4{
   letter-spacing: 1px;
   padding-bottom: 15px;
}

.info_single{
   margin: 30px 0px;
}
.info_single i{
   margin-right: 15px;
}
.info_single span{
   font-size: 14px;
   letter-spacing: 1px;
}

button.contact_form_submit {
   background: linear-gradient(to top right, #02610A -5%, #FFC712 100%);
   border: none;
   color: #fff;
   padding: 10px 15px;
   width: 100%;
   margin-top: 25px;
   border-radius: 35px;
   cursor: pointer;
   font-size: 14px;
   letter-spacing: 2px;
}
.socil_item_inner li{
   list-style: none;
}
.socil_item_inner li a{
   color: #fff;
   margin: 0px 15px;
   font-size: 14px;
}
.socil_item_inner{
   padding-bottom: 10px;
}

.map_sec{
   padding: 50px 0px;
}
.map_inner h4, .map_inner p{
   color: #000;
   text-align: center
}
.map_inner p{
   font-size: 13px;
}
.map_bind{
  margin-top: 50px;
   border-radius: 30px;
   overflow: hidden;
}

/* text formating */
.fen-heading{
   font-family: 'Poppins-Bold';
   font-weight: bold;
   font-size: 55px;
   line-height: 65px;
   @media only screen and (max-width: 768px) {
      font-size: 14px;
   }
}
.fen-para{
   font-weight: 400;
   font-size: 1.2em;
   @media only screen and (max-width: 768px) {
      font-size: 12px;
   }
}