.p-10{padding-top: 10vh}
.p-20{padding-top: 20vh}
.p-30{padding-top: 30vh}
.p-40{padding-top: 40vh}

.row-error{
   margin-right: 0!important;
}
.fen-gray{color: #616161!important;}

.hero-section{
    height:100vh;
    //background:  linear-gradient(180deg, rgba(0,0,0,0.1516981792717087) 0%, rgba(0,0,0,0.14889705882352944) 65%, rgba(0,0,0,0.7343312324929971) 85%, rgba(0,0,0,1) 100%);   
    overflow: hidden;
}
.hero-header{
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
   font-size: 56px;
   line-height: 66px;
    text-align: center;
    color: #616161;
    
    //transform: translate(0%, -50%);
    //color: $fen-green;
    //color: #5da943;
}
.about-para{
    font-family: ITCAvantGarde;
    font-weight: 100;
    font-size: 15.5px;
    text-align: justify;
    li{
        padding-bottom: 1em;
    }
    
    
}
.my-container{
    position: relative;
    padding-top: 5rem;
}
.overflow-bg{
    position: absolute;
    width: 102vw;
    top:-10vh;
    left:-10vw;
    height: 120vh;
    background-image: linear-gradient(315deg, #f9f9f9 0%, #02a388 74%);
    border-radius: 0 100px 100px 0;
    z-index: -2;
}
.solar-roof{
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.152) 0%, rgba(255, 255, 255, 0.149) 65%, rgba(255, 255, 255, 0.734) 85%, rgb(255, 255, 255) 100%) , url(../img/bg/Solutions.jpg), rgba(255, 255, 255, 0.5) ;
    background-size: cover;
}
.solar-project{
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.152) 0%, rgba(255, 255, 255, 0.149) 65%, rgba(255, 255, 255, 0.734) 85%, rgb(255, 255, 255) 100%) , url(../img/bg/solar-projects.jpg),rgba(255, 255, 255, 0.5) ;
    background-size: cover;
}
.main-header{
    text-align:left;
    margin: 0 0 20px 0; 
    width:20%;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.display-4 ,.display-5{
    color: $fen-yellow ;
}
.text-black{color: #000}
.fen-yellow{color: $fen-yellow}
.fen-green{color: $fen-green }

.width-9{
    width: calc(100% / 9);
}

.product-items-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F4F4F4;
    min-height: 500px;
    p{
        font-family: ITCAvantGarde;
        font-size: 16px;
    }
    
}
.i-left{
   @media only screen and (min-width: 768px){
   i{
      margin-left: -32px;
   }}
}
.item-center{
    text-align: center;
}
.shadow-d{
    box-shadow: 6px 6px 5px 1px rgba(0,0,0,0.21);
}




/* text formating */
.fen-heading{
   font-family: 'Poppins-Bold';
   font-weight: bold;
   font-size: 55px;
   line-height: 65px;
   @media only screen and (max-width: 768px) {
      font-size: 14px;
   }
}
.fen-para{
   font-weight: 400;
   font-size: 1.2em;
   @media only screen and (max-width: 768px) {
      font-size: 12px;
   }
}