

.rooftop{
    margin: 0;
    padding: 0;
    height:100vh;
    overflow: hidden;
    color: #000;
    
    .rooftop-heading-content{
        position: absolute;
        top: 0%;
        left: 0%;
        right: -50%;
        padding : 5% 50% 0% 10%;
        background: linear-gradient(261deg, rgba(0,0,0,0) 0%, rgba(53,124,185,0) 20%, rgba(53,124,185,1) 30%, rgba(53,124,185,1) 100%);
        height: 100%;
        z-index: 1;
        
        .card-solution{
            border: 1px solid rgb(190, 190, 190);
            border-radius: 15px;
            .card-no{
                font-family: 'ITCAvantGarde';
                font-size: 60px;
            }
            img{
                 filter: invert(100%); 
            }
            &:hover{
                transform: scale(1.05);
                transition: all 0.5s ease-in-out;
            }
        }

    }
    

    .rooftop-img{
        
        img{
            background-size: cover;
            
        }

    }
    .rooftop-card-img{
        float: left;
        filter: invert(100%); 
    }

    
}
.sub-sections{
    padding: 2% 5%;
}

.commercial-industrial{
    
    .main-header{
        text-align:left;
        margin: 0 0 20px 0; 
        width:20%;
        border-bottom: 1px solid rgb(219, 219, 219);
    }
    .padding-left{
        padding-left: 20px;
        
        
    }
    .commercial-img-card{
        img{
            background-size: cover;
            width:100%;
            //height:100%;
            object-fit: scale-down;
            
        }
        
        .commercial-img:nth-child(2){
            padding-top: 30px!important;
        }
        .commercial-img:nth-child(3){
            padding-top: 60px!important;
        }
        //hover cards 
        /*.hover-card{
            transform: translateY(-300%);
            opacity: 0;
            transition: all .3s ease-in-out;
            img{
                width: 75%;
            }
        }
        .commercial-img:hover .hover-card{
            transform: translateY(-200%);
            opacity: 1;
        }*/
        .hover-card{
            img{
                width: 50%;
            }
        }
        
        
        
    }
    
    
}
.chart{
    margin-top: -20px;
}

.card-container{
    width: 100%;
    .card-small{
        width: 40%;
        float: left;
        text-align: right;
        padding: 1rem;
        //border: 1px solid rgb(87, 87, 87);
        border-radius: 25px;
        margin: 10px 2.5%;
        min-height: 100px;
        background-color:rgba(248, 248, 248, 0.5);
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
        transition:  all 0.5s ease-in;
        .card-no{
            font-family: 'ITCAvantGarde';
            font-size: 30px;
        }
        &:hover{
            background-color: rgba(248, 248, 248, 0.7)
        }
    }
}
.domestic{
    background: url(../../assests/img/bg/spikes.png);


    .domestic-img-card{
        .domestic-img{
            .domestic-card{
            border-radius: 50%;}
        }
        p{
            text-align: center;
        }
        .domestic-img:nth-child(even){
            padding-top: 10%;
        }
        .hover-card{
            img{
                width: 50%;
            }

        }

    }
}