@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  src: url("../font/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'ITCAvantGarde';
  src: url("../font/ITCAvantGarde/ITCAvantGardeStdBk.otf") format("truetype");
}

html {
  padding: 0;
  margin: 0;
  font-family: 'ITCAvantGarde', sans-serif;
}

html h1, html h2, html h3, html h4, html h5, html h6 {
  font-family: 'ITCAvantGarde', sans-serif;
}

.hero-section {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.151698)), color-stop(65%, rgba(0, 0, 0, 0.148897)), color-stop(85%, rgba(0, 0, 0, 0.734331)), to(black)), url(../img/bg/Solutions.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.151698) 0%, rgba(0, 0, 0, 0.148897) 65%, rgba(0, 0, 0, 0.734331) 85%, black 100%), url(../img/bg/Solutions.jpg);
  background-size: cover;
}

.hero-section .hero-header {
  font-family: 'Montserrat';
  font-size: 100px;
  text-align: center;
  padding-top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  color: #fff;
}

.nav-btn {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  background-color: inherit;
}

/* ------------------------------------------- Navbar Start------------------------------------------- */
.nav-block-outer {
  opacity: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.navbar {
  position: fixed;
  display: inline-block !important;
  top: 25px !important;
  padding: 0px !important;
  height: 100px;
}

.navbar .navbar-left {
  position: absolute;
  left: 0;
  width: 25%;
  height: 50%;
  background-color: #fff;
}

.navbar .navbar-left img {
  margin-left: 50%;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

.navbar .navbar-right {
  position: absolute;
  left: 25%;
  width: 75%;
  height: 50%;
  background-color: #292929;
}

.navbar .navbar-right ul li {
  margin-top: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-flexbox;
}

.navbar .navbar-right .menu-item {
  position: static;
}

.navbar.color-change {
  position: fixed;
  top: 0;
  left: -50%;
  width: 0;
  height: 0;
}

.navbar .dropdown-menu {
  position: absolute !important;
  margin-top: 0px !important;
  width: 100% !important;
  display: block;
  background-color: #f57373;
  border: 0;
}

.navbar .dropdown-menu li {
  display: inline-block;
}

.nav-small {
  position: fixed;
  top: 10px;
  left: -10px;
  width: 50px;
  height: 50px;
  background-color: #096510;
  border-radius: 50%;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
  -webkit-animation: mymove 1s infinite;
          animation: mymove 1s infinite;
}

@-webkit-keyframes mymove {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes mymove {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav-small input[type="checkbox"] {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
  opacity: 0;
}

.nav-small #ham-menu {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 4px;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
  background-color: #FFC713;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-small #ham-menu2 {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 4px;
  border-radius: 50px;
  background-color: #FFC713;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* ------------------------------------------- END Navbar------------------------------------------- */
/* ------------------------------------------- Navbar-d ------------------------------------------- */
.navbar-d {
  position: fixed;
  top: 25px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #000;
  font-family: 'ITCAvantGarde';
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
  z-index: 2;
}

.navbar-d.color-change {
  position: fixed;
  top: 0;
  left: -50%;
  width: 0;
  height: 0;
}

.navbar-d .nav-active {
  color: #fff !important;
}

.navbar-d .nav-right {
  width: 25%;
  background-color: #fff;
}

.navbar-d .nav-right img {
  margin-left: 50%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
}

.navbar-d .nav-left {
  width: 75%;
  background-color: #000;
  /*.dropdown-d:hover .dropdown-content-d {
            display: block;
        }*/
}

.navbar-d .nav-left .main-nav-a {
  float: left;
  font-size: 16px;
  color: #b5b5b5;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  width: calc(100% / 6);
}

.navbar-d .nav-left .main-nav-a:hover {
  text-decoration: none;
  color: #fff;
}

.navbar-d .nav-left .dropdown-d {
  float: left;
  overflow: hidden;
  width: calc(100% / 6);
}

.navbar-d .nav-left .dropdown-d:hover {
  color: #fff;
}

.navbar-d .nav-left .dropdown-d .dropbtn {
  width: 100%;
  text-align: center;
}

.navbar-d .nav-left .dropdown-d .dropdown-content-d {
  display: block;
  position: fixed;
  background-color: #232B2D;
  padding: 5% auto;
  width: 100%;
  left: 0;
  top: 75px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar-d .nav-left .dropdown-d .dropdown-content-d .sub-nav-a {
  float: left;
  font-size: 12px;
  color: #b5b5b5;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
}

.navbar-d .nav-left .dropdown-d .dropdown-content-d .sub-nav-a:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-d .nav-left .dropdown-d .dropdown-content-d .sub-nav-a:nth-child(1) {
  width: calc((100%/12) * 1.1);
}

.navbar-d .nav-left .dropdown-d .dropdown-content-d .sub-nav-a:nth-child(3) {
  width: calc((100%/12) * 1.1);
}

.navbar-d .nav-left .dropdown-d .dropdown-content-d .sub-nav-a:nth-child(4) {
  width: calc((100%/12) * 2.8);
}

.navbar-d .nav-left .dropdown-d .dropdown-content-d .sub-nav-a:nth-child(5) {
  width: calc((100%/12) * 2.3);
}

.navbar-d .nav-left .dropdown-d .dropdown-content-d .sub-nav-a:nth-child(6) {
  width: calc((100%/12) * 2.7);
}

.navbar-d .nav-left .dropdown-d .dropdown-content-d .sub-nav-a:nth-child(7) {
  width: calc((100%/12) * 2);
}

.navbar-d .nav-left .dropdown-d .dropdown-content-d .level2 {
  display: none;
  position: fixed;
  top: 120px;
  width: 100%;
  left: 0;
}

.navbar-d .nav-left .drop-solar:hover .level2 {
  display: block;
}

.navbar-d .nav-left .nav-content-center {
  position: absolute;
  width: 100%;
  background-color: #1d1d1d;
  left: 0%;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.navbar-d .nav-left .nav-content-center.color-change {
  position: fixed;
  top: 0;
  left: -50%;
  width: 0;
  height: 0;
  opacity: 0;
}

.rooftop {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

.rooftop .rooftop-heading-content {
  position: absolute;
  top: 0%;
  left: 0%;
  right: -50%;
  padding: 5% 50% 0% 10%;
  background: linear-gradient(261deg, rgba(0, 0, 0, 0) 0%, rgba(53, 124, 185, 0) 20%, #357cb9 30%, #357cb9 100%);
  height: 100%;
  z-index: 1;
}

.rooftop .rooftop-heading-content .card-solution {
  border: 1px solid #bebebe;
  border-radius: 15px;
}

.rooftop .rooftop-heading-content .card-solution .card-no {
  font-family: 'ITCAvantGarde';
  font-size: 60px;
}

.rooftop .rooftop-heading-content .card-solution img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.rooftop .rooftop-heading-content .card-solution:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.rooftop .rooftop-img img {
  background-size: cover;
}

.sub-sections {
  padding: 2% 5%;
}

.commercial-industrial .main-header {
  text-align: left;
  margin: 0 0 20px 0;
  width: 20%;
  border-bottom: 1px solid #dbdbdb;
}

.commercial-industrial .padding-left {
  padding-left: 20px;
}

.commercial-industrial .commercial-img-card {
  /*.hover-card{
            transform: translateY(-300%);
            opacity: 0;
            transition: all .3s ease-in-out;
            img{
                width: 75%;
            }
        }
        .commercial-img:hover .hover-card{
            transform: translateY(-200%);
            opacity: 1;
        }*/
}

.commercial-industrial .commercial-img-card img {
  background-size: cover;
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.commercial-industrial .commercial-img-card .commercial-img:nth-child(2) {
  padding-top: 30px !important;
}

.commercial-industrial .commercial-img-card .commercial-img:nth-child(3) {
  padding-top: 60px !important;
}

.commercial-industrial .commercial-img-card .hover-card img {
  width: 50%;
}

.chart {
  margin-top: -20px;
}

.card-container {
  width: 100%;
}

.card-container .card-small {
  width: 45%;
  float: left;
  text-align: right;
  padding: 1rem;
  border-radius: 25px;
  margin: 10px 2.5%;
  min-height: 100px;
  background-color: rgba(248, 248, 248, 0.8);
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.card-container .card-small .card-no {
  font-family: 'ITCAvantGarde';
  font-size: 30px;
}

.domestic {
  background: url(../../assests/img/bg/spikes.png);
}

.domestic .domestic-img-card .domestic-img .domestic-card {
  border-radius: 50%;
}

.domestic .domestic-img-card p {
  text-align: center;
}

.domestic .domestic-img-card .domestic-img:nth-child(even) {
  padding-top: 10%;
}

.domestic .domestic-img-card .hover-card img {
  width: 50%;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/assests/img/loading-ball.svg) center no-repeat #fff;
}

/* ------------------------------------------- Hero Section ------------------------------------------- */
.padding-top {
  padding-top: 10em;
}

.s-padding-top {
  padding-top: 2em;
}

.carousel .h100vh {
  height: 100vh !important;
}

.carousel .carousel-inner img {
  -webkit-animation: carousel-zoom 10s ease;
          animation: carousel-zoom 10s ease;
}

@-webkit-keyframes carousel-zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes carousel-zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.carousel .carousel-inner .carousel-caption2 {
  position: absolute;
  width: 30em;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  left: 10%;
  z-index: 10;
  padding: 40px;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  background-color: #000000aa;
  -webkit-animation: carousel-left 1.5s ease-in-out;
          animation: carousel-left 1.5s ease-in-out;
}

@-webkit-keyframes carousel-left {
  0% {
    left: 2%;
  }
  100% {
    left: 10%;
  }
}

@keyframes carousel-left {
  0% {
    left: 2%;
  }
  100% {
    left: 10%;
  }
}

.carousel .carousel-control-prev-icon2 {
  background: url(/assests/img/svg-ico/left-arrow.svg) !important;
  width: 40px !important;
  height: 40px !important;
}

.carousel .carousel-control-next-icon2 {
  background: url(/assests/img/svg-ico/next-arrow.svg) !important;
  width: 40px !important;
  height: 40px !important;
}

.carousel .carousel-control-next, .carousel .carousel-control-prev {
  width: 5% !important;
}

/* ------------------------------------------- Solution Section ------------------------------------------- */
.solutions .card {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(0) rotateY(0);
          transform: rotateX(0) rotateY(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease !important;
          transition-timing-function: ease !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: tranform;
  border: 0px solid black;
}

.solutions .card .card_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(http://alexandrebuffet.fr/codepen/parallax-cards/blur-overlay.jpg) no-repeat center center;
  background-size: cover;
  mix-blend-mode: lighten;
  border-radius: 25px;
}

.solutions .card__image img {
  max-width: 100%;
  height: 250px;
  border-radius: 25px;
}

.solutions .card__heading {
  position: absolute;
  top: 70%;
  left: 20px;
  width: 100%;
  color: #FFF;
}

.solutions .card__heading .small {
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 10px;
  -webkit-transform: translateZ(15px);
          transform: translateZ(15px);
}

.solutions .card__heading h2 {
  margin: 0;
  -webkit-transform: translateZ(30px);
          transform: translateZ(30px);
  font-size: x-large;
  font-weight: 900;
}

.solutions .card.is-out {
  -webkit-transform: rotateX(0) rotateY(0) !important;
          transform: rotateX(0) rotateY(0) !important;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

/* ------------------------------------------- News Section ------------------------------------------- */
.news {
  position: relative;
  height: 500px;
}

.news:before {
  top: 0;
  left: 0;
  content: '';
  opacity: .5;
  width: 540px;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(/assests/img/bg/abbg.png);
}

.news h1 {
  font-weight: 700;
}

/* ------------------------------------------- Footer Section ------------------------------------------- */
footer, .footer-section {
  max-width: 100vw;
  overflow: hidden;
  background-color: #1d1d1d;
}

footer .mb-md-5, footer .my-md-5, .footer-section .mb-md-5, .footer-section .my-md-5 {
  padding-bottom: 0 !important;
}

footer .footer-content, .footer-section .footer-content {
  padding-top: 10vh;
  color: #999999;
}

footer .footer-content a, .footer-section .footer-content a {
  text-decoration: none;
  color: #919191;
}

footer .footer-content a:hover, .footer-section .footer-content a:hover {
  color: #fec503;
}

footer .footer-content h3, .footer-section .footer-content h3 {
  padding-bottom: 1rem;
}

footer .footer-content hr, .footer-section .footer-content hr {
  text-align: left;
  margin-left: 0;
  width: 20%;
  border-bottom: 1px solid #dbdbdb;
}

footer .footer-content .col-lg-4, .footer-section .footer-content .col-lg-4 {
  padding-left: 3rem;
}

footer .footer-content .col-lg-4:first-child, .footer-section .footer-content .col-lg-4:first-child {
  padding-left: 0;
}

footer .footer-content .form-box, .footer-section .footer-content .form-box {
  width: 100%;
}

footer .footer-content .form-box input, .footer-section .footer-content .form-box input {
  width: 100%;
  border: 0px;
  padding: 1rem;
  margin-bottom: 2em;
  background-color: #292929;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .footer-content .form-box input:focus, .footer-section .footer-content .form-box input:focus {
  border: 0px;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #fec503;
}

footer .footer-content .form-box textarea, .footer-section .footer-content .form-box textarea {
  width: 100%;
  border: 0px;
  padding: 1rem;
  margin-bottom: 2em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #292929;
}

footer .footer-content .form-box textarea:focus, .footer-section .footer-content .form-box textarea:focus {
  border: 0px;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #fec503;
}

footer .footer-content .form-box a, .footer-section .footer-content .form-box a {
  color: #999999;
}

footer .footer-content .form-box a:hover, .footer-section .footer-content .form-box a:hover {
  text-decoration: none;
}

footer .footer-content .form-box .submit-btn:hover, .footer-section .footer-content .form-box .submit-btn:hover {
  color: #fec503;
}

footer .footer-copyright-text, .footer-section .footer-copyright-text {
  color: #919191;
}

footer .footer-copyright-text a, .footer-section .footer-copyright-text a {
  text-decoration: none;
  color: #919191;
}

footer .footer-copyright-text a:hover, .footer-section .footer-copyright-text a:hover {
  color: #fec503;
}
/*# sourceMappingURL=style.css.map */