@font-face {
  font-family: 'proxima-nova-700';
  src: url("font/Bold.otf") format("truetype");
}

@font-face {
  font-family: 'proxima-nova-400';
  src: url("font/Regular.otf") format("truetype");
}

@font-face {
  font-family: 'proxima-nova-600';
  src: url("font/Semibold.otf") format("truetype");
}

html {
  padding: 0;
  margin: 0;
  font-family: 'proxima-nova-700', sans-serif;
}

html h1, html h2, html h3, html h4, html h5, html h6 {
  font-family: 'proxima-nova-700', sans-serif;
  color: #444444;
}

html p {
  font-family: 'proxima-nova-400', sans-serif;
  font-size: 18px;
  color: #676767;
  line-height: 25px;
  text-align: justify;
}

html a {
  color: #000;
  text-decoration: none;
}

.navbar {
  min-height: 125px;
  background-color: #fff !important;
  padding: 0rem 1rem !important;
  font-size: 16px;
  font-weight: 300;
}

.navbar .navbar-toggler {
  display: block;
  position: absolute;
  height: 40px;
  top: 20px;
  right: 20px;
  color: #fff;
  outline: none;
  padding: 0 5px;
  cursor: pointer;
}

.navbar .navbar-toggler span,
.navbar .navbar-toggler span::before,
.navbar .navbar-toggler span::after {
  display: block;
  content: '';
  background-color: #000;
  height: 3px;
  width: 28px;
  border-radius: 4px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  color: #fff;
}

.navbar .navbar-toggler span::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.navbar .navbar-toggler span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.navbar .navbar-toggler.open-navbar-toggler span {
  background-color: transparent;
}

.navbar .navbar-toggler.open-navbar-toggler span::before {
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
}

.navbar .navbar-toggler.open-navbar-toggler span::after {
  -webkit-transform: translateY(-3px) rotate(-45deg);
          transform: translateY(-3px) rotate(-45deg);
}

.navbar.color-change {
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 0;
  width: 0;
  height: 0;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.navbar .navbar-brand img {
  width: 270px;
}

.navbar #navbarContent .navbar-nav .nav-item a.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #4b4b4b;
  padding: 10px 15px;
  font-family: 'proxima-nova-700';
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.navbar #navbarContent .navbar-nav .nav-item a.nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fcd966;
  height: 2px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.navbar #navbarContent .navbar-nav .nav-item a.nav-link:hover:before {
  left: 15px;
  right: 15px;
}

.navbar #navbarContent .navbar-nav .dropdown-menu {
  border-radius: none !important;
  background: linear-gradient(180deg, white 0%, white 40px, #2b2b2b 40.001px, #2b2b2b 100%);
  position: absolute;
}

.navbar #navbarContent .navbar-nav .megamenu .sub-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
}

.navbar #navbarContent .navbar-nav .megamenu .sub-nav li.sub-menu {
  padding: 0.5em 0.9em;
}

.navbar #navbarContent .navbar-nav .megamenu .sub-nav li.sub-menu:first-child {
  padding-top: 50px;
}

.navbar #navbarContent .navbar-nav .megamenu .sub-nav li.sub-menu .sub-link {
  text-decoration: none;
  color: #FFF;
}

.navbar #navbarContent .navbar-nav .megamenu .sub-nav li.sub-menu .sub-link:hover {
  color: #006008;
}

.navbar #navbarContent .navbar-nav .megamenu .sub-nav li.sub-menu .sub-link h6 {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'proxima-nova-400', sans-serif;
}

.nav-active:before {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  left: 15px !important;
  right: 15px !important;
  bottom: 0;
  background: #fcd966;
  height: 2px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

@media screen and (min-width: 600px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

.dropdown-toggle::after {
  content: none !important;
}

/* -------------------------------------------- Loader Working -------------------------------------------- */
.spinner-wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*
.spinner {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    top: -12%;
}

.spinner::before,
.spinner:after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.spinner:before {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, #5DA943 0%,#ffffff 100% );
    animation: spin .5s infinite linear;
}
.spinner:after {
    width: 90%;
    height: 90%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

}*/
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.spinner {
  position: absolute;
  top: 25%;
  color: #FABE11;
  font-size: 10px;
  margin: 80px auto;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.spinner:before,
.spinner:after {
  content: '';
  position: absolute;
  top: 0;
}

.spinner:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}

.spinner-logo {
  position: absolute;
  top: 50%;
  text-align: center;
}

/* -------------------------------------------- Loader Working End-------------------------------------------- */
.card {
  border: none !important;
}

/* ------------------------------------------- Footer Section ------------------------------------------- */
footer, .footer-section {
  max-width: 100vw;
  overflow: hidden;
  background-color: #1d1d1d;
  padding-top: 50px;
}

footer .mb-md-5, footer .my-md-5, .footer-section .mb-md-5, .footer-section .my-md-5 {
  padding-bottom: 0 !important;
}

footer .footer-copyright-text, .footer-section .footer-copyright-text {
  color: #919191;
  font-size: 14px;
}

footer .footer-copyright-text a, .footer-section .footer-copyright-text a {
  text-decoration: none;
  color: #919191;
}

footer .footer-copyright-text a:hover, .footer-section .footer-copyright-text a:hover {
  color: #fec503;
}

.footer-content {
  color: #999999;
  /*@media screen and (min-width: 600px) {
      .footer-small-section{
          padding-left: 3rem!important;
          
          &:first-child{
              padding-left: 0!important;
          }
      }
     
   }
   @media screen and (max-width: 600px) {
      .footer-small-section{
          
          padding-top: 3rem!important;
          
      }
     
   }
  */
}

.footer-content a {
  text-decoration: none;
  color: #919191;
}

.footer-content a:hover {
  color: #fec503;
}

.footer-content .footer-small-section {
  margin-top: 5%;
}

.form-box {
  width: 100%;
}

.form-box input {
  width: 100%;
  border: 0px;
  padding: 1rem;
  margin-bottom: 2em;
  background-color: #292929;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.form-box input:focus {
  border: 0px;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #fec503;
}

.form-box textarea {
  width: 100%;
  border: 0px;
  padding: 1rem;
  margin-bottom: 2em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #292929;
}

.form-box textarea:focus {
  border: 0px;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #fec503;
}

.form-box a {
  width: 100%;
  color: #999999;
  border: 1px solid #999999;
}

.form-box a:hover {
  text-decoration: none;
  color: #fec503;
}

.form-box button {
  width: 100%;
  color: #999999;
  outline: none;
  background-color: transparent;
  border: 1px solid #999999;
  padding-block: 10px;
}

.form-box button:hover {
  text-decoration: none;
  color: #fec503;
}

.footer-logo-widget .f-left {
  width: 20%;
  text-align: center;
}

.footer-logo-widget .f-left i {
  font-size: 30px;
}

.footer-logo-widget .f-right {
  width: 70%;
}

.footer-logo-widget .f-row {
  padding-block: 6px;
}

.hero-section {
  position: relative;
}

.hero-section .hero-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 40vh;
}

.hero-section .hero-heading h1 {
  color: #fff;
  text-transform: uppercase;
}

.about-image {
  height: 40vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/bg/aboutus-40.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/bg/aboutus-40.jpg);
  background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .about-image {
    margin-top: 10vh;
  }
}

.v-m-image {
  background-size: cover;
}

@media (max-width: 768px) {
  .v-m-image {
    display: none;
  }
}

@media (min-width: 768px) {
  .v-m-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F4F4F4;
  }
}

.v-m-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dbe5ed;
  min-height: 100vh;
  line-height: 31.76px;
  padding-inline: 40px !important;
}

@media (max-width: 768px) {
  .v-m-text {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8))), url(../img/bg/v-m-image.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url(../img/bg/v-m-image.jpg);
    background-size: cover;
  }
}

.card-flagship {
  border-radius: 25px;
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  min-height: 200px;
  text-align: center;
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
}

.shadow-product {
  border-radius: 15px !important;
  background-color: #fff !important;
  -webkit-box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
  /*&:hover .card-body .card-title{
        transform: scale(1.2);

    }*/
}

.shadow-product img {
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}

.shadow-product p {
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}

.shadow-product:hover {
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
}

.shadow-product:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* -------------------------------------------- Cards -------------------------------------------- */
/* ==== Cards using Bootstrap === */
.teamlead .card {
  border-radius: 20px;
  min-height: 100%;
}

.teamlead .heading-border {
  position: absolute;
  width: 100%;
  top: 60%;
}

.teamlead .card .user-picture img {
  position: absolute;
  top: -25%;
  right: -5%;
  background: #f8f9fa !important;
  padding: 10px;
  width: 150px;
  height: auto;
}

.teamlead .card .user-content .user-name {
  margin-right: 150px;
}

.home-title {
  font-family: Poppins-SemiBold;
  font-style: normal;
  font-size: 35px !important;
  line-height: 52px;
  text-align: center;
}

#home-solution a {
  text-decoration: none;
}

#home-solution .card-solution {
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  min-height: 200px;
  text-align: center;
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
  position: relative;
}

#home-solution .shadow-solutions {
  border-radius: 15px !important;
  background-color: #fff !important;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 1s ease-in-out !important;
  transition: all 1s ease-in-out !important;
}

#home-solution .shadow-solutions:hover {
  -webkit-transition: all 1s !important;
  transition: all 1s !important;
  -webkit-box-shadow: 1px 13px 22px 1px rgba(125, 125, 125, 0.5);
          box-shadow: 1px 13px 22px 1px rgba(125, 125, 125, 0.5);
}

#home-solution .title-div {
  padding-top: 8px;
}

#home-solution .title-div .s-title {
  font-size: 18px;
  font-weight: 550;
  color: #000;
}

#home-solution .title-div i {
  float: right;
}

.about-view-more {
  position: absolute;
  bottom: 5%;
  padding: 10px 20px;
  background-color: #333333;
  color: #f0f0f0 !important;
  outline: none !important;
  border: none;
  border-radius: 50px;
}

.leader-card {
  display: -ms-grid;
  display: grid;
  min-height: 200px;
  text-align: center;
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
}

.leader-card .card-l-header img {
  border-radius: 25px;
}

.leader-card .card-tl-header img {
  width: 150px;
  border-radius: 25px;
}

.leader-card .card-l-content {
  font-size: 14px;
  text-align: left;
  padding-top: 12px;
}

.our-team {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.6))), url(../img/about/our-leads.jpg);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.6) 100%), url(../img/about/our-leads.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-block: 15vh;
}

.team-leads {
  background-color: #fff;
  padding-block: 15vh;
}

/* ************************************* Model ************************************* */
.modal {
  background-color: rgba(255, 255, 255, 0.1);
  /* Black w/ opacity */
}

/* Modal Content */
.fen-modal-content {
  background-color: #fefefe;
  padding: 20px;
  -webkit-box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.15) !important;
  border-radius: 20px !important;
  outline: none !important;
  border: none !important;
}

.fen-modal-content button {
  text-align: right;
}

.fen-modal-content .fen-modal-image img {
  border-radius: 50%;
  border: 10px solid #fff;
  margin-top: -15%;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.fen-next-btn {
  width: 30px;
  z-index: 2;
  right: -2%;
  position: absolute;
  top: 50%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 40px;
  -webkit-transform: translate(0%, -50px);
          transform: translate(0%, -50px);
  -webkit-animation: next-animation 1s ease-in-out infinite;
          animation: next-animation 1s ease-in-out infinite;
}

@-webkit-keyframes next-animation {
  0% {
    right: -2%;
  }
  80% {
    right: 0%;
  }
  100% {
    right: -2%;
  }
}

@keyframes next-animation {
  0% {
    right: -2%;
  }
  80% {
    right: 0%;
  }
  100% {
    right: -2%;
  }
}

.fen-pre-btn {
  width: 30px;
  z-index: 2;
  left: -2%;
  position: absolute;
  top: 50%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 40px;
  -webkit-transform: translate(0%, -50px);
          transform: translate(0%, -50px);
  -webkit-animation: pre-animation 1s ease-in-out infinite;
          animation: pre-animation 1s ease-in-out infinite;
}

@-webkit-keyframes pre-animation {
  0% {
    left: -2%;
  }
  80% {
    left: 0%;
  }
  100% {
    left: -2%;
  }
}

@keyframes pre-animation {
  0% {
    left: -2%;
  }
  80% {
    left: 0%;
  }
  100% {
    left: -2%;
  }
}

.modal, .fade, .show {
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

/* ************************************* Contact US ************************************* */
.contact-hero {
  background-color: #F2F2F2;
  color: #1d1d1d;
}

.contact-hero .contact-left {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.7))), url(../img/bg/s1.webp);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.7) 100%), url(../img/bg/s1.webp);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-inline: 10%;
  min-height: 100vh;
}

.contact-hero .contact-left h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  line-height: 20px;
}

.contact-hero .contact-left p {
  font-size: 16px;
  line-height: 16px;
}

.contact-hero .contact-left .padding-bottom {
  padding-bottom: 20px;
}

.contact-right {
  background-color: #fff;
  padding: 10% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-right h3 {
  text-align: center;
}

.contact-right .form-box {
  width: 100%;
}

.contact-right .form-box input {
  width: 100%;
  border: 1px solid #949494;
  padding: .6rem;
  margin-bottom: 1em;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact-right .form-box input:focus {
  outline: none;
  color: #1d1d1d;
}

.contact-right .form-box textarea {
  width: 100%;
  border: 1px solid #949494;
  padding: .6rem;
  margin-bottom: 1em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: white;
}

.contact-right .form-box textarea:focus {
  outline: none;
  color: #1d1d1d;
}

.map-title {
  padding-block: 40px;
}

.contact-map {
  max-height: 100vh;
  position: relative;
}

.contact-map .map-load {
  display: none;
  width: 100%;
  height: 20vh;
  background-color: #dadada;
}

@media only screen and (max-width: 768px) {
  .contact-map .map-load {
    display: block;
  }
}

.contact-map .map-content iframe {
  position: relative;
  height: 100vh;
  width: 100%;
}

.fa-map-marker {
  font-size: 30px !important;
}

.section-padding {
  padding-block: 100px;
}

.container-padding {
  padding-block: 5%;
}

/*Contact */
.contact-row {
  display: inline;
}

.contact-row i {
  margin-left: -10%;
}

/* new home page style */
#new-solution .col-md-4 {
  padding: 0;
}

#new-solution .card-img-overlay {
  padding-top: 10%;
}

.contact-image {
  height: 40vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.76)), to(rgba(0, 0, 0, 0.25))), url(../img/bg/contact-40.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0.25) 100%), url(../img/bg/contact-40.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .contact-image {
    margin-top: 10vh;
  }
}

.project-section {
  height: calc(100vh - 125px);
  width: 100%;
}

.project-section .row {
  margin-inline: 0;
  height: 100%;
}

.project {
  background: url(../img/map.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* ------------ accordion ------------*/
.myaccordion {
  position: absolute;
  width: 93%;
  margin: 0px auto;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  height: calc(100vh - 125px);
}

.myaccordion::-webkit-scrollbar {
  width: 5px;
}

.myaccordion::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.myaccordion::-webkit-scrollbar-thumb {
  background: #FABE11;
  border-radius: 50px;
}

.myaccordion::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
}

.myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
}

.myaccordion .fa-stack {
  font-size: 18px;
}

.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #004987;
  padding: 0;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}

.myaccordion li + li {
  margin-top: 10px;
}

/* ------------ END accordion ------------*/
.h100vh {
  height: 100vh;
}

.fullvh {
  height: 80vh;
  width: 100%;
}

.heading-hr {
  width: 70px;
  height: 4px;
  background-color: #FFCC00;
  border: none;
}

.btn-fen {
  border: none;
  border-radius: 0 !important;
  background-color: #002060 !important;
  color: #fff !important;
  font-family: 'proxima-nova-600';
  font-size: 12px !important;
}

.fen-yellow {
  color: #FABE11;
}

.section-margin {
  margin-block: 2%;
}

.main {
  background: url(../img/bg2.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
}

.solutions .col-md-4 {
  padding: 0;
}

.solutions .card-img-overlay {
  padding-top: 10%;
  background-color: rgba(0, 0, 0, 0.3);
}

.solutions .card-img-overlay h3 {
  color: #fff;
}

.solutions .card {
  overflow: hidden;
}

.solutions .card:after {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  border-bottom: 5px solid #002060;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  width: 100%;
}

.solutions .card:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.solutions .card:hover .solution-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.news-img {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/news/news.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/news/news.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */